.header {
  display: flex;
  width: 100%;
  background-color: white;
  align-content: center;
  justify-content: center;
  border-bottom: 1px solid #eaeaea;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999;
}

.headerLogo {
  padding: 32px;
  margin: 0 0 0 24px;
  display: flex;
  align-items: center;
}

.headerLogo > a {
  transition: all 0.125s cubic-bezier(0.4, 0.0, 0.2, 1);
}

.headerLogo > a:hover {
  opacity: 0.6;
}

.headerMainNav {
  display: flex;
  align-items: center;
  padding: 32px;
  margin-left: auto;
}

.headerMainNav > a {
  margin: 0 24px;
  padding: 12px 18px;
  color: rgb(0, 0, 0);
  background-color: white;
  border: 1px solid white;
  border-radius: 4px;
  transition: all 0.125s cubic-bezier(0.4, 0.0, 0.2, 1);
}

.headerMainNav > a:hover {
  background-color: white;
  border: 1px solid rgb(105, 105, 105);
  color: rgb(105, 105, 105);
}

.headerMainNav > a.active {
  color: white;
  background-color: rgba(0,118,255,0.9);
  border: 1px solid rgba(0,118,255,0.9);
}

.headerMainNav > a.active:hover {
  background-color: white;
  border: 1px solid rgba(0,118,255,0.9);
  color: rgba(0,118,255,0.9);
}
